<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAYqTJMZPfxDOMChsrCclByJh7GzI2r5yE</string>
	<key>GCM_SENDER_ID</key>
	<string>776192620449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dvanos.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-f078c</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-f078c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776192620449:ios:f721300d710263e78afde0</string>
</dict>
</plist>